<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.hello-world"
version = "1.0.0">
<name>CamApp</name>
<description>
Camera example app.
</description>
<author>
Vinay Pandravada
</author>
<preference name="phonegap-version" value="3.0.0" />
<gap:plugin name="org.apache.cordova.core.camera" />
</widget>
